In [27]:
import numpy as np
import pandas as pd

from sklearn.preprocessing import MultiLabelBinarizer

In [28]:
cleaned_data = pd.read_excel('ML DATA 03012020.xlsx')

In [29]:
cleaned_data.head()

,PATIENT_VISIT_ID,GENDER,AGE,STATE_NAME,DISTRICT_NAME,DISEASE_ID,SYMPTOM_ID,SYSTOLIC_BP,DIASTOLIC_BP,PULSE,RESPIRATION_RATE,BODY_TEMPERATURE,BODY_WEIGHT,HEART_RATE,HEIGHT,HEAD_CIRCUMFERENCE,UPPER_ARM_CIRCUMFERENCE,SPO2
0,PV000000183054,Female,18.0,Orissa,NABARANGAPUR,DISE02857,SYMP00756~SYMP00875~~~~~~~~~,110.0,70.0,114.0,19.0,101.3,45.0,NaN,120.0,NaN,NaN,NaN
1,PV000000191142,Male,24.0,Orissa,NABARANGAPUR,DISE18070,SYMP00103~SYMP01220~~~~~~~~~,120.0,80.0,70.0,18.0,98.6,45.0,NaN,153.0,NaN,NaN,NaN
2,PV000000165538,Male,14.0,Orissa,NABARANGAPUR,DISE03581,SYMP00875~SYMP03669~~~~~~~~~,80.0,60.0,96.0,20.0,98.0,0.0,NaN,164.0,NaN,NaN,NaN
3,PV000000175974,Male,54.0,Orissa,NABARANGAPUR,DISE04688,SYMP01641~SYMP01207~~~~~~~~~,120.0,80.0,95.0,20.0,98.0,0.0,NaN,165.0,NaN,NaN,NaN
4,PV000000181454,Male,25.0,Orissa,NABARANGAPUR,DISE02587,SYMP00823~SYMP00829~~~~~~~~~,120.0,80.0,81.0,18.0,98.0,53.0,NaN,154.0,NaN,NaN,NaN

In [30]:
cleaned_data.describe()

,AGE,SYSTOLIC_BP,DIASTOLIC_BP,PULSE,RESPIRATION_RATE,BODY_TEMPERATURE,BODY_WEIGHT,HEART_RATE,HEIGHT,HEAD_CIRCUMFERENCE,UPPER_ARM_CIRCUMFERENCE,SPO2
count,60665.000000,43884.000000,43880.000000,52472.000000,45200.000000,49276.000000,52860.000000,1.0,44358.000000,3131.000000,3131.000000,51057.000000
mean,35.521480,111.252074,72.719029,86.074154,24.113606,95.331653,66.615498,0.0,136.923131,0.018205,0.027467,90.769885
std,23.383552,29.337569,23.126021,23.383867,20.720305,16.774308,3608.007846,NaN,1127.006767,0.776648,1.283172,33.628922
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000
25%,17.300000,110.000000,70.000000,77.000000,18.000000,97.500000,34.000000,0.0,128.000000,0.000000,0.000000,97.000000
50%,35.000000,120.000000,80.000000,84.000000,19.000000,98.200000,45.000000,0.0,150.000000,0.000000,0.000000,98.000000
75%,55.000000,120.000000,80.000000,93.000000,20.000000,98.600000,52.000000,0.0,157.000000,0.000000,0.000000,99.000000
max,778.500000,911.000000,980.000000,997.000000,230.000000,961.000000,655555.000000,0.0,169110.000000,40.000000,70.000000,999.000000

In [31]:
cleaned_data.drop(columns=['HEART_RATE','HEAD_CIRCUMFERENCE','UPPER_ARM_CIRCUMFERENCE'],inplace = True)

In [32]:
cleaned_data.describe()

,AGE,SYSTOLIC_BP,DIASTOLIC_BP,PULSE,RESPIRATION_RATE,BODY_TEMPERATURE,BODY_WEIGHT,HEIGHT,SPO2
count,60665.000000,43884.000000,43880.000000,52472.000000,45200.000000,49276.000000,52860.000000,44358.000000,51057.000000
mean,35.521480,111.252074,72.719029,86.074154,24.113606,95.331653,66.615498,136.923131,90.769885
std,23.383552,29.337569,23.126021,23.383867,20.720305,16.774308,3608.007846,1127.006767,33.628922
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,17.300000,110.000000,70.000000,77.000000,18.000000,97.500000,34.000000,128.000000,97.000000
50%,35.000000,120.000000,80.000000,84.000000,19.000000,98.200000,45.000000,150.000000,98.000000
75%,55.000000,120.000000,80.000000,93.000000,20.000000,98.600000,52.000000,157.000000,99.000000
max,778.500000,911.000000,980.000000,997.000000,230.000000,961.000000,655555.000000,169110.000000,999.000000

In [33]:
vitals =['SYSTOLIC_BP','DIASTOLIC_BP','PULSE','RESPIRATION_RATE','BODY_TEMPERATURE','BODY_WEIGHT','HEIGHT','SPO2']

In [34]:
cleaned_data[vitals] = cleaned_data[vitals].replace(0, np.nan)
#cleaned_data[['SYSTOLIC_BP','DIASTOLIC_BP']].replace(0, np.nan, inplace = True)

In [35]:
cleaned_data.describe()

,AGE,SYSTOLIC_BP,DIASTOLIC_BP,PULSE,RESPIRATION_RATE,BODY_TEMPERATURE,BODY_WEIGHT,HEIGHT,SPO2
count,60665.000000,41650.000000,41654.000000,51954.000000,43594.000000,47889.000000,52007.000000,39811.000000,47120.000000
mean,35.521480,117.219352,76.605152,86.932344,25.001950,98.092726,67.708102,152.561760,98.353947
std,23.383552,14.400076,16.299997,21.855235,20.565435,4.322068,3637.466521,1188.625711,21.896532
min,0.000000,1.000000,7.000000,1.000000,1.000000,0.200000,2.000000,0.400000,2.000000
25%,17.300000,110.000000,70.000000,77.000000,18.000000,97.600000,35.000000,140.000000,98.000000
50%,35.000000,120.000000,80.000000,84.000000,19.000000,98.200000,45.000000,150.000000,99.000000
75%,55.000000,120.000000,80.000000,94.000000,20.000000,98.600000,52.000000,158.000000,99.000000
max,778.500000,911.000000,980.000000,997.000000,230.000000,961.000000,655555.000000,169110.000000,999.000000

In [37]:
cleaned_data[(cleaned_data.SYSTOLIC_BP>230) | (cleaned_data.SYSTOLIC_BP<80)].to_csv('abnormal_systolic.csv',index=False)
cleaned_data[(cleaned_data.DIASTOLIC_BP>150) | (cleaned_data.DIASTOLIC_BP<50)].to_csv('abnormal_diastolic.csv',index=False)
cleaned_data[(cleaned_data.BODY_TEMPERATURE<90) | (cleaned_data.BODY_TEMPERATURE>110)].to_csv('abnormal_body_temp.csv',index=False)
cleaned_data[(cleaned_data.SPO2>100) | (cleaned_data.SPO2<80)].to_csv('abnormal_spo2.csv',index=False)
cleaned_data[cleaned_data.AGE>100].to_csv('abnormal_age.csv',index=False)
cleaned_data[(cleaned_data.PULSE<50) | (cleaned_data.PULSE>120)].to_csv('abnormal_pulse.csv',index=False)
cleaned_data[(cleaned_data.RESPIRATION_RATE>30) | (cleaned_data.RESPIRATION_RATE<13)].to_csv('abnormal_resp_rate.csv',index=False)
cleaned_data[cleaned_data.BODY_WEIGHT>200].to_csv('abnormal_weight.csv',index=False)
cleaned_data[(cleaned_data.HEIGHT>200) | (cleaned_data.HEIGHT<45)].to_csv('abnormal_height.csv',index=False)

In [25]:
def drop_wrong_vitals(df):

    df.drop(df[(df.SYSTOLIC_BP>230) | (df.SYSTOLIC_BP<80)].index, inplace = True)
    df.drop(df[(df.DIASTOLIC_BP>150) | (df.DIASTOLIC_BP<50)].index, inplace=True)
    df.drop(df[(df.BODY_TEMPERATURE<90) | (df.BODY_TEMPERATURE>110)].index, inplace=True)
    df.drop(df[(df.SPO2>100) | (df.SPO2<80)].index,inplace=True)
    df.drop(df[df.AGE>100].index, inplace=True)
    df.drop(df[(df.RESPIRATION_RATE>30) | (df.RESPIRATION_RATE<13)].index,inplace=True)
    df.drop(df[df.BODY_WEIGHT>200].index,inplace=True)
    df.drop(df[(df.HEIGHT>200) | (df.HEIGHT<45)].index,inplace=True)
    
    return df

In [55]:
cleaned_data = drop_wrong_vitals(cleaned_data)

In [56]:
cleaned_data.describe()

,AGE,SYSTOLIC_BP,DIASTOLIC_BP,PULSE,RESPIRATION_RATE,BODY_TEMPERATURE,BODY_WEIGHT,HEIGHT,SPO2
count,55162.000000,38143.000000,38154.000000,46477.000000,38523.000000,43000.000000,46630.000000,37806.000000,44648.000000
mean,35.986062,117.434182,76.517927,85.054651,19.349531,98.058118,42.436472,145.288013,97.938721
std,21.266369,12.724828,8.821534,11.554255,2.532528,1.166703,16.839486,22.808340,1.806447
min,0.000000,80.000000,50.000000,50.000000,13.000000,90.000000,2.000000,45.000000,80.000000
25%,18.025000,110.000000,70.000000,77.000000,18.000000,97.600000,35.000000,141.000000,98.000000
50%,35.000000,120.000000,80.000000,84.000000,18.000000,98.200000,45.000000,151.000000,99.000000
75%,55.000000,120.000000,80.000000,90.000000,20.000000,98.600000,52.000000,159.000000,99.000000
max,99.900000,219.000000,150.000000,120.000000,30.000000,109.200000,167.000000,200.000000,100.000000

In [61]:
cleaned_data.drop(cleaned_data[cleaned_data.DISEASE_ID == 'Confusion'].index, inplace=True)

In [63]:
cleaned_data.SYMPTOM_ID = [[symptom for symptom in symptoms_row if symptom!=''] 
             for symptoms_row in cleaned_data.SYMPTOM_ID.str.split('~').tolist()]

In [64]:
cleaned_data.SYMPTOM_ID.head()

0    [SYMP00756, SYMP00875]
1    [SYMP00103, SYMP01220]
2    [SYMP00875, SYMP03669]
3    [SYMP01641, SYMP01207]
4    [SYMP00823, SYMP00829]
Name: SYMPTOM_ID, dtype: object

In [65]:
mlb_symtoms = MultiLabelBinarizer()

In [66]:
symptoms_encoded = mlb_symtoms.fit_transform(cleaned_data.SYMPTOM_ID)

In [67]:
print(mlb_symtoms.classes_[290])

SYMP00875

In [68]:
print(np.where(symptoms_encoded[0]==1))

(array([241, 290]),)

In [69]:
symptoms_encoded[0][290]

1

In [70]:
cleaned_data.iloc[0]

PATIENT_VISIT_ID            PV000000183054
GENDER                              Female
AGE                                     18
STATE_NAME                          Orissa
DISTRICT_NAME                 NABARANGAPUR
DISEASE_ID                       DISE02857
SYMPTOM_ID          [SYMP00756, SYMP00875]
SYSTOLIC_BP                            110
DIASTOLIC_BP                            70
PULSE                                  114
RESPIRATION_RATE                        19
BODY_TEMPERATURE                     101.3
BODY_WEIGHT                             45
HEIGHT                                 120
SPO2                                   NaN
Name: 0, dtype: object

In [77]:
cleaned_data.DISEASE_ID = (cleaned_data.DISEASE_ID.str.split('~'))
mlb_diseases = MultiLabelBinarizer()
diseases_encoded = mlb_diseases.fit_transform(cleaned_data.DISEASE_ID)

TypeError: 'float' object is not iterable

In [79]:
cleaned_data['diseases_encoded'] = diseases_encoded.tolist()

In [72]:
cleaned_data[cleaned_data.DISEASE_ID.apply(lambda x: 'Confusion' in x)].shape

(0, 15)

In [74]:
mlb_diseases.classes_

array(['DISE00030', 'DISE00043', 'DISE00045', 'DISE00048', 'DISE00058',
       'DISE00059', 'DISE00061', 'DISE00095', 'DISE00125', 'DISE00126',
       'DISE00127', 'DISE00135', 'DISE00141', 'DISE00151', 'DISE00155',
       'DISE00159', 'DISE00162', 'DISE00166', 'DISE00187', 'DISE00200',
       'DISE00210', 'DISE00211', 'DISE00217', 'DISE00230', 'DISE00237',
       'DISE00249', 'DISE00258', 'DISE00270', 'DISE00293', 'DISE00311',
       'DISE00312', 'DISE00316', 'DISE00318', 'DISE00328', 'DISE00342',
       'DISE00349', 'DISE00350', 'DISE00386', 'DISE00389', 'DISE00390',
       'DISE00428', 'DISE00433', 'DISE00442', 'DISE00443', 'DISE00446',
       'DISE00447', 'DISE00452', 'DISE00453', 'DISE00458', 'DISE00464',
       'DISE00483', 'DISE00488', 'DISE00496', 'DISE00512', 'DISE00527',
       'DISE00531', 'DISE00537', 'DISE00539', 'DISE00546', 'DISE00563',
       'DISE00583', 'DISE00584', 'DISE00587', 'DISE00590', 'DISE00592',
       'DISE00593', 'DISE00596', 'DISE00621', 'DISE00630', 'DISE00636',
       'DISE00639', 'DISE00640', 'DISE00644', 'DISE00650', 'DISE00652',
       'DISE00659', 'DISE00662', 'DISE00671', 'DISE00677', 'DISE00680',
       'DISE00692', 'DISE00719', 'DISE00721', 'DISE00734', 'DISE00744',
       'DISE00758', 'DISE00765', 'DISE00775', 'DISE00777', 'DISE00791',
       'DISE00796', 'DISE00834', 'DISE00836', 'DISE00846', 'DISE00851',
       'DISE00867', 'DISE00870', 'DISE00872', 'DISE00882', 'DISE00888',
       'DISE00889', 'DISE00891', 'DISE00894', 'DISE00911', 'DISE01012',
       'DISE01017', 'DISE01018', 'DISE01031', 'DISE01042', 'DISE01052',
       'DISE01079', 'DISE01088', 'DISE02045', 'DISE02071', 'DISE02106',
       'DISE02111', 'DISE02112', 'DISE02117', 'DISE02118', 'DISE02120',
       'DISE02122', 'DISE02130', 'DISE02132', 'DISE02133', 'DISE02135',
       'DISE02143', 'DISE02145', 'DISE02157', 'DISE02160', 'DISE02163',
       'DISE02164', 'DISE02176', 'DISE02180', 'DISE02185', 'DISE02186',
       'DISE02188', 'DISE02195', 'DISE02196', 'DISE02207', 'DISE02208',
       'DISE02221', 'DISE02247', 'DISE02257', 'DISE02258', 'DISE02262',
       'DISE02263', 'DISE02268', 'DISE02270', 'DISE02274', 'DISE02278',
       'DISE02280', 'DISE02296', 'DISE02297', 'DISE02301', 'DISE02303',
       'DISE02305', 'DISE02306', 'DISE02318', 'DISE02323', 'DISE02324',
       'DISE02332', 'DISE02336', 'DISE02345', 'DISE02349', 'DISE02371',
       'DISE02372', 'DISE02379', 'DISE02385', 'DISE02386', 'DISE02387',
       'DISE02392', 'DISE02393', 'DISE02394', 'DISE02395', 'DISE02405',
       'DISE02418', 'DISE02428', 'DISE02442', 'DISE02445', 'DISE02452',
       'DISE02464', 'DISE02470', 'DISE02475', 'DISE02489', 'DISE02491',
       'DISE02494', 'DISE02498', 'DISE02505', 'DISE02506', 'DISE02510',
       'DISE02518', 'DISE02524', 'DISE02531', 'DISE02532', 'DISE02534',
       'DISE02539', 'DISE02542', 'DISE02548', 'DISE02556', 'DISE02565',
       'DISE02576', 'DISE02578', 'DISE02586', 'DISE02587', 'DISE02608',
       'DISE02614', 'DISE02616', 'DISE02617', 'DISE02626', 'DISE02627',
       'DISE02634', 'DISE02643', 'DISE02645', 'DISE02649', 'DISE02654',
       'DISE02662', 'DISE02667', 'DISE02672', 'DISE02685', 'DISE02709',
       'DISE02714', 'DISE02730', 'DISE02731', 'DISE02732', 'DISE02734',
       'DISE02737', 'DISE02741', 'DISE02742', 'DISE02745', 'DISE02759',
       'DISE02760', 'DISE02761', 'DISE02764', 'DISE02765', 'DISE02766',
       'DISE02767', 'DISE02768', 'DISE02769', 'DISE02771', 'DISE02772',
       'DISE02775', 'DISE02778', 'DISE02781', 'DISE02797', 'DISE02808',
       'DISE02814', 'DISE02830', 'DISE02831', 'DISE02833', 'DISE02838',
       'DISE02841', 'DISE02843', 'DISE02845', 'DISE02848', 'DISE02850',
       'DISE02851', 'DISE02857', 'DISE02862', 'DISE02865', 'DISE02867',
       'DISE02868', 'DISE02870', 'DISE02883', 'DISE02887', 'DISE02888',
       'DISE02892', 'DISE02897', 'DISE02904', 'DISE02917', 'DISE02920',
       'DISE02924', 'DISE02933', 'DISE02935', 'DISE02936', 'DISE02937',
       'DISE02938', 'DISE02951', 'DISE02964', 'DISE02968', 'DISE02975',
       'DISE03005', 'DISE03016', 'DISE03017', 'DISE03024', 'DISE03029',
       'DISE03043', 'DISE03050', 'DISE03071', 'DISE03078', 'DISE03090',
       'DISE03100', 'DISE03119', 'DISE03121', 'DISE03126', 'DISE03131',
       'DISE03160', 'DISE03167', 'DISE03173', 'DISE03203', 'DISE03206',
       'DISE03212', 'DISE03243', 'DISE03252', 'DISE03253', 'DISE03262',
       'DISE03263', 'DISE03271', 'DISE03310', 'DISE03314', 'DISE03330',
       'DISE03355', 'DISE03363', 'DISE03422', 'DISE03429', 'DISE03430',
       'DISE03448', 'DISE03457', 'DISE03469', 'DISE03493', 'DISE03511',
       'DISE03529', 'DISE03533', 'DISE03543', 'DISE03581', 'DISE03614',
       'DISE03616', 'DISE03622', 'DISE03637', 'DISE03647', 'DISE03673',
       'DISE03700', 'DISE03704', 'DISE03728', 'DISE03732', 'DISE03739',
       'DISE03741', 'DISE03746', 'DISE03778', 'DISE03779', 'DISE03780',
       'DISE03784', 'DISE03803', 'DISE03856', 'DISE03870', 'DISE03873',
       'DISE03886', 'DISE03900', 'DISE03902', 'DISE03906', 'DISE04000',
       'DISE04004', 'DISE04011', 'DISE04063', 'DISE04069', 'DISE04073',
       'DISE04078', 'DISE04082', 'DISE04105', 'DISE04122', 'DISE04134',
       'DISE04146', 'DISE04168', 'DISE04191', 'DISE04192', 'DISE04225',
       'DISE04233', 'DISE04253', 'DISE04258', 'DISE04270', 'DISE04324',
       'DISE04335', 'DISE04344', 'DISE04348', 'DISE04357', 'DISE04368',
       'DISE04394', 'DISE04404', 'DISE04420', 'DISE04425', 'DISE04475',
       'DISE04476', 'DISE04502', 'DISE04528', 'DISE04541', 'DISE04556',
       'DISE04560', 'DISE04561', 'DISE04565', 'DISE04601', 'DISE04608',
       'DISE04650', 'DISE04688', 'DISE05042', 'DISE05426', 'DISE05487',
       'DISE05568', 'DISE05604', 'DISE05605', 'DISE05606', 'DISE05607',
       'DISE05609', 'DISE05619', 'DISE05709', 'DISE05816', 'DISE05851',
       'DISE07369', 'DISE07983', 'DISE08297', 'DISE08557', 'DISE08674',
       'DISE08752', 'DISE09093', 'DISE09130', 'DISE09158', 'DISE09162',
       'DISE09167', 'DISE09221', 'DISE09248', 'DISE09311', 'DISE09542',
       'DISE09621', 'DISE09728', 'DISE09739', 'DISE09783', 'DISE09850',
       'DISE09916', 'DISE09927', 'DISE09945', 'DISE09948', 'DISE09949',
       'DISE09980', 'DISE09981', 'DISE10028', 'DISE10034', 'DISE10044',
       'DISE10072', 'DISE10117', 'DISE10122', 'DISE10149', 'DISE10185',
       'DISE10186', 'DISE10212', 'DISE10225', 'DISE10228', 'DISE10242',
       'DISE10244', 'DISE10378', 'DISE10507', 'DISE10650', 'DISE10652',
       'DISE10654', 'DISE10692', 'DISE10695', 'DISE10777', 'DISE10778',
       'DISE10782', 'DISE11118', 'DISE11408', 'DISE11549', 'DISE11615',
       'DISE11911', 'DISE13070', 'DISE13086', 'DISE13110', 'DISE13119',
       'DISE13174', 'DISE13224', 'DISE13230', 'DISE13260', 'DISE17133',
       'DISE17147', 'DISE17184', 'DISE17188', 'DISE17213', 'DISE17254',
       'DISE17256', 'DISE17269', 'DISE17270', 'DISE17273', 'DISE17335',
       'DISE17343', 'DISE17387', 'DISE17393', 'DISE17603', 'DISE17605',
       'DISE17660', 'DISE17739', 'DISE17777', 'DISE17780', 'DISE17786',
       'DISE17791', 'DISE17839', 'DISE17873', 'DISE17900', 'DISE17999',
       'DISE18051', 'DISE18070', 'DISE18180', 'DISE18296', 'DISE18356',
       'DISE18402', 'DISE18410', 'DISE18554', 'DISE18624', 'DISE18637',
       'DISE18676', 'DISE18678', 'DISE18679', 'DISE18680', 'DISE18701',
       'DISE18796', 'DISE18807', 'DISE18809', 'DISE18837', 'DISE18844',
       'DISE18929', 'DISE19047', 'DISE19048', 'DISE19118', 'DISE19178',
       'DISE19252', 'DISE19260', 'DISE19341', 'DISE19347', 'DISE19448',
       'DISE19449', 'DISE19601', 'DISE19644', 'DISE19645', 'DISE19693',
       'DISE19724', 'DISE19744', 'DISE19758', 'DISE19765', 'DISE19775',
       'DISE19784', 'DISE19826', 'DISE19849', 'DISE19878', 'DISE19879',
       'DISE19880', 'DISE19881', 'DISE19882', 'DISE19883', 'DISE19884',
       'DISE19885'], dtype=object)

In [88]:
import xlrd

In [75]:
cleaned_data.iloc[0].DISEASE_ID

['DISE02857']

In [82]:
np.where(diseases_encoded[0]==1)

(array([256]),)

In [93]:
np.linspace(0,2,100).shape

(100,)